<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 m-3 p-3 rounded content background">
      <div class="d-flex col p-1 text-center text-dark in_content align-items-center justify-content-center content">
        <div class="position-absolute upm upm-left"></div>
        <h3 class="title position-absolute">
          <strong><em> Identificación de usuario </em></strong>
        </h3>
        <form id="loginForm" [formGroup]="login">
          <p class="text-right">
            <label for="userLog"> Usuario:   </label>
            <input id="userLog" type="text" placeholder="  Identificador usuario"
                   formControlName="nameLog" required>
          </p>
          <p class="text-right">
            <label for="keyLog"> Clave:   </label>
            <input id="keyLog" type="text" placeholder="  Password" formControlName="passwordLog" required>
          </p>
          <ng-container *ngIf="error">
            <p> Usuario o contraseña incorrectas </p>
          </ng-container>
          <button class="btn btn-info" type="button" (click)="userLogin()" [disabled]="login.invalid"> Enviar </button>
        </form>

        <div class="position-absolute upm upm-right"></div>
      </div>
    </div>
  </div>
</div>
