app-play{
  .put_in_table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }

  .cards {
    margin: 0.5rem;
    bottom: 0.5rem;
    left: 3rem;
    min-width:5rem;
    min-height: 6rem;
  }

  .msg {
    background-color: #EED85F;
    width: fit-content;
    margin-left: 30rem;
  }
}
