<div class="container">
  <div class="row mb-3 justify-content-center">
    <div class="col-3">
      <div class="row mr-3 in_card rounded background card_score">
        <div class="grid m-3 w-100 text-center align-items-center">
          <div class="mb-2">
            <p class=""> Puntuacion </p>
            <p id="point" class="font-weight-bold"> {{ points }} </p>
          </div>
          <div class="mt-2">
            <p class=""> Tiempo </p>
            <p id="userTime" class="font-weight-bold">
            <ng-container *ngIf="timePref !== 0"> {{ disposedTime }} </ng-container>
            <ng-container *ngIf="timePref === 0"> ∞ </ng-container>
            </p>
          </div>
        </div>
      </div>
      <div class="row mr-3 in_card rounded background card_total">
        <div class="m-3 w-100 text-center align-items-center">
          <p class=""> Total </p>
          <p id="totalPoints" class="font-weight-bold"> {{ points }} </p>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="mt-4 h-100">
        <div id="table" [ngClass]="numPairsFind === cardsPref/2 || blockClick ? 'blockClick' : 'reactiveClick'" class="container table rounded background h-100 put_in_table">
          <ng-container *ngFor="let card of cardSrc; let numCard = index">
            <div>
              <img (click)="onclickCard(numCard)" [id]="numCard" class="cards" src="{{imgSrc[numCard]}}"
                   [ngClass]="imgSrc[numCard] !== allCards[CARD_BACK] ? 'blockClick' : null">
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <ng-container *ngIf="saveRecord !== ''"> {{ saveRecord }}</ng-container>
  </div>
</div>

<ng-template #gameModal let-modal class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="titleModal" class="modal-title"> {{ msg }} </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="contentModal" class="modal-body text-center">
         ¿Quieres guardar el resultado?
      </div>
      <div class="modal-footer justify-content-center">
        <button id="acceptModal" type="button" class="btn btn-primary" data-dismiss="modal"
                (click)="modal.close(); restart()"> Aceptar </button>
        <button id="cancelModal" type="button" class="btn btn-secondary" data-dismiss="modal"
                routerLink="/home" (click)="modal.close()"> Cancelar </button>
      </div>
    </div>
  </div>
</ng-template>
