<div class="row justify-content-center">
  <div class="col-10 m-3 p-3 rounded content background">
    <div class="d-flex col p-1 text-center text-dark in_content align-items-center justify-content-center content">
      <div class="position-absolute upm upm-left"></div>
      <h3 class="title position-absolute mt-5">
        <strong><em><u> Máster en Ingeniería Web </u></em></strong>
      </h3>
      <ul>
        <h3 class="">
          <strong><em> Frond-end para Navegadores Web</em></strong>
        </h3>
      </ul>
      <ul>
        <h3 class="">
          <strong><em> Práctica - Juego Naipes (parejas) </em></strong>
        </h3>
      </ul>
      <div class="position-absolute cards"></div>
      <div class="position-absolute upm upm-right"></div>
    </div>
  </div>
</div>
